extends ../layout.jade
block contenido
	h2(class='pacifico big blue') Menú
	p Documentos Ingresados
	each doc in vars
		div(class="col-md-4 col-sm-6 col-xs-12 inline-block")
			h3(class="pacifico")= doc.var1
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var1}
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var2}
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var3}
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var4}
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var5}
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var6}
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var7}
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var8}
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var9}
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var10}

