extends ../layout.jade
block contenido
	h2(class='pacifico big blue') Menú
	p Documentos Ingresados
	each doc in vars
		div(class="col-md-4 col-sm-6 col-xs-12 inline-block")
			h3(class="pacifico")= doc.var1
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var1}USD
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var2}USD
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var3}USD
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var4}USD
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var5}USD
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var6}USD
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var7}USD
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var8}USD
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var9}USD
			p(style="margin-top:1em;") 
				small(class="lato small") #{doc.var10}USD

